* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #eef5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#to-do-card {
    background: white;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 86, 179, 0.1);
}

h2 {
    color: #0056b3;
    text-align: center;
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 20px;
}

#input-text {
    flex: 1;
    padding: 12px;
    border: 2px solid #d0e3ff;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;

}

#input-text:focus {
    border-color: #007bff;
}

#add-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#add-button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background: #f8faff;
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid #007bff;
    transition: transform 0.2s;
}

li:hover {
    transform: translateX(5px);
}

.task-text {
    cursor: pointer;
    flex: 1;
    color: #333;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.Delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.Delete-btn:hover {
    background-color: #cc0000;
}

.edit-btn {
    background-color: #FF9500;
    color: #FFFFFF;
    border: 0;
    outline: 0;
    box-shadow: none;
    display: flex;
    cursor: pointer;
    margin-left: 8px;  
    font-size: 9px;
    border-radius: 4px;
    padding: 8px 12px;
    align-items: center;
    justify-content: center;
}

.edit-btn:hover , .edit-btn:focus {
    background-color: #E67E22;
    outline: none ;
    box-shadow: none ;
    appearance: none;
}

.edit-btn i {
    pointer-events: none;
}

.task-text[contenteditable="true"] {
    outline: none;              /* remove default outline */
    border: 2px solid #FF9500;  /* your custom border */
    border-radius: 6px;
    padding: 6px 8px;
    background-color: #fff8ee;
}
#counter {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-left: 10px;
    margin-left: 50px;
}