* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #eef5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#to-do-card {
    background: white;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 86, 179, 0.1);
}

h2 {
    color: #0056b3;
    text-align: center;
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 20px;
}

#input-text {
    flex: 1;
    padding: 12px;
    border: 2px solid #d0e3ff;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
    
}

#input-text:focus {
    border-color: #007bff;
}

#add-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#add-button:hover {
    background-color:#0056b3;
}